.header{
	padding:10px;
	color:white;
	text-align:center;
}
.co{
	padding:15px;
}
.text{
	text-align:center;
}
.side{
	border:1px solid;	
}
@media only screen and (max-width:768px){
	img{
	width:100%;
	}}
	
