.header{
	padding:10px;
	color:white;
	text-align:center;
}
.co{
	padding:15px;
}
.text{
	text-align:center;
}
img.side {
    border-radius: 5px;
    border: 1px solid;
}
@media only screen and (max-width:768px){
	img{
	width:100%;
	}}
	
.slider {
  width: 100%;
  overflow: hidden;
}

.slider img {
  width: 100%;
  display: none;
}

.slider img:first-child {
  display: block;
}
